@charset "UTF-8";/* home.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 50px 80px;
    text-align: center;
    color: white;
}